<div class="container contact-container">
    <h2>Contact Me</h2>
    <p>If you have any questions, feel free to reach out!</p>
    <div class="contact-details">
        <div class="contact-item">
            <h4>Email</h4>
            <p><a href="mailto:your-email&#64;example.com">pranavkumbhar1711&#64;gmail.com</a></p>
        </div>
        <div class="contact-item">
            <h4>Phone</h4>
            <p><a href="tel:+1234567890">+91 84465 59671</a></p>
        </div>
        <div class="contact-item">
            <h4>Connect with me:</h4>
            <div class="social-links">
                <a href="https://linkedin.com/in/yourprofile" target="_blank">
                    <img src="assets/linkedin-logo.png" alt="LinkedIn" class="social-icon">
                </a>
                <a href="https://github.com/yourusername" target="_blank">
                    <img src="assets/github-logo.png" alt="GitHub" class="social-icon">
                </a>
                <a href="https://twitter.com/yourusername" target="_blank">
                    <img src="assets/twitter-logo.jpg" alt="Twitter" class="social-icon">
                </a>
            </div>
        </div>
    </div>
</div>
