<footer>
    <div class="footer">
      <div class="footer-first">
        <h3>Developer's Portfolio</h3>
      </div>
      <div class="footer-second">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/resume">About</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/contact">Contact Me</a></li>
        </ul>
      </div>
      <div class="footer-third">
        <ul>
          <li>Add</li>
          <li>More</li>
          <li>Info</li>
        </ul>
      </div>
      <div class="footer-fourth">
        <ul>
          <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
          <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
          <li><a href="https://github.com" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-rights">
      Copyright &#169; www.portfolio.com | All rights reserved
    </div>
  </footer>
  